<extend name="Index/base" />
<block name="main" >
<form method="post" action="__URL__/registerValidate">
    <div class="form-group">
        <label for="exampleInputName">Name</label>
        <input type="text" name="username" class="form-control" id="exampleInputName" placeholder="Name">
    </div>
    <div class="form-group">
        <label for="exampleInputEmail">Email</label>
        <input type="email" name="email" class="form-control" id="exampleInputEmail" placeholder="Email">
    </div>

    <button type="submit" class="btn btn-default">Submit</button>
</form>
</block>